<h2>Products</h2>
<div *ngFor="let product of products">
  <!-- string interpolation -->
  <h3>{{product.name}}</h3>
  <h2>{{product.price}}</h2>
  <h1>{{product.description}}</h1>
</div>
<a [title] = "'Details of ' + product.name" >{{product.name}}</a>




<!-- <h3>List of Products</h3>
<ol>
 <li>Laptop</li>
 <li>Mobile</li>
 <li>TV</li>
</ol> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->